.submit-form{
    width: 100%;
    /* height: 200px; */
    border-radius: 10px;
    display: flex;
    /* flex-direction: column; */
    align-items: center;
    justify-content: center;
    /* padding-left:20px; */
    margin-bottom: 30px;
    
}
.home-view{
    max-width: 100%;
    min-height: 100vh;
    padding-top: 20%;
    /* padding: 25px; */
    /* padding-right: 25px; */
    /* font-weight: bold; */
    /* border: 1px solid black; */
    background-color: rgb(226, 224, 224);
    opacity: 0.8;
    /* border-radius: 15px; */
    display: flex;
    flex-direction: column;
    align-items: center; 
   /* justify-content: center; */
    margin-top: 0px;    
}
 .home-view p{ 
    font-weight: bold;
    color:black;    
} 
.submit-form input
,.submit-form button
 {
  border: 0;
  border-radius: 10px;
  
  /* background: var(--element-bg);
  box-shadow: var(--element-shadow); */
}
.submit-form button {
    width: 65px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 16px;
    font-weight: bold;
    /* border-radius: 55px; */
/* background: #0a0a0a;
box-shadow:  -22px 22px 44px #afaeae,
             22px -22px 44px #ffffff; */
             -webkit-box-shadow: 7px 7px 14px 0px rgba(186, 186, 186, 0.75);
-moz-box-shadow:    7px 7px 14px 0px rgba(186, 186, 186, 0.75);
box-shadow:         7px 7px 14px 0px rgba(186, 186, 186, 0.75);
  }
  
  .submit-form input {
    width: 50%;
    /* color: red; */
    padding: 16px 14px;
    font-size: 16px;
    margin-bottom: 10px;
    background-color: rgb(255, 255, 255);
  }
  
  .submit-form input::placeholder {
    color: rgb(0, 0, 0);
    font-weight: bold;
  }
  .recipes{
      min-width: 95%;
      /* border: 1px solid black; */
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
  }
  @media screen and (min-width: 600px) {
    .home-view{
        padding-top: 10%;
        font-size: 18px;
    }
  }
  @media screen and (min-width: 900px) {
    .home-view {
    font-size: 20px;
    padding-top: 15%;
  } 
  .submit-form input {
    width: 40%;
}
.recipes{
    min-width: 95%;
    /* border: 1px solid black; */
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    /* align-items: center;
    justify-content: center; */
}
  /* .about-view Button{
    width: 150px;
    font-size: 18px;
}  */
  }
  @media screen and (min-width: 1000px) {
    /* .home-view{
        padding-top: 12%;
        font-size: 18px;
    } */
    .submit-form input {
        width: 35%;
    }
    /* .recipes{
        min-width: 95%;
        /* border: 1px solid black; */
        /* display: flex;
        flex-direction: row;
        flex-wrap: wrap; */
        /* align-items: center;
        justify-content: center; */
    /* }  */
  }
  @media screen and (min-width: 1200px) {
    .home-view{
        padding-top: 10%;
        font-size: 22px;
    }
    .submit-form input {
        width: 25%;
    }
  }
 
