.App{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.fullView{
  min-height: 100vh;
  background-image: url("../src/assets/images/background.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}